<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WikiPages</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
  <nav class="navbar navbar-light bg-dark">
    <a href="/pages" class="navbar-brand" style="color: blanchedalmond;">Wiki</a>
    <form action="/search" method="POST" class="form-inline">
      <input name="info" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
      <div class="row" style="padding: 20px;">
        <h1 style="padding-left: 20px;">Search Results</h1>
        
    
      </div>
      <% for(var i=0; i < result.length; i++) { %>
        <div class="row" style="padding-left:40px;">
          <div class="title" style="width: 400px;">
            <a style="font-weight: bold;font-size: 30px;" href="/pages/<%= result[i].title%>"><%=result[i].title %></a>
          </div>
         
          <div class="date" style="width: auto;">
            <p style="padding-left: 100px;">Last Updated <%= result[i].createdAt %></p>
          </div>
          
        </div>
        
     <% } %>
     
    
</body>
</html>